.lead {
  margin: 0 auto 92px;
  padding: 56px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .lead {
    padding: 48px 0 0 0;
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead {
    margin: 0 auto 88px;
  }
}

@media (max-width: 320px) {
  .lead {
    margin: 0 auto 64px;
  }
}
