.intro__span-text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 1024px) {
  .intro__span-text {
    padding-left: 28px;
  }
}

@media (max-width: 768px) {
  .intro__span-text {
    padding-left: 24px;
  }
}

@media (max-width: 320px) {
  .intro__span-text {
    padding-left: 16px;
  }
}

@media (max-width: 290px) {
  .intro__span-text {
    font-size: 10px;
  }
}
