.cover__title {
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;

  margin: 0 0 32px 0;
  padding: 0;
}

@media (max-width: 556px) {
  .cover__title  {
    font-size: 42px;
    line-height: 46px;
    margin: 0 0 16px 0;
  }
}

@media (max-width: 320px) {
  .cover__title  {
    font-size: 32px;
    line-height: 35px;
  }
}
