.place__url-heading {
  margin: 0;
  padding: 0 0 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media (max-width: 768px) {
  .place__url-heading {
    line-height: 12px;
  }
}
