.cover__background-image-link {
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;

  color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;

  text-decoration: none;
  align-items: center;
  position: relative;
  object-fit: cover;
  min-height: 740px;
  max-width: 1184px;
  margin: 0 auto;
  z-index: 0;
}

.cover__background-image-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.3);
  z-index: -1;
}

.cover__background-image-link::before:hover {
  background-color: rgba(0 0 0 / 0.7);
}
