.cover__background-image-link {
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  object-fit: cover;
  text-decoration: none;
  color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  z-index: 0;
}

.cover__background-image-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__background-image-link:hover::before {
  background-color: #2A2C2F;
  opacity: 0.8;
  transition: .3s;
}

@media (max-width: 1024px) {
  .cover__background-image-link  {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__background-image-link  {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__background-image-link  {
    max-width: 320px;
    min-height: 200px;
  }
}
