.intro__title {
  margin: 0 0 40px 0;
  padding: 0;

  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media (max-width: 670px) {
  .intro__title {
    font-size: 45px;
  }
}

@media (max-width: 556px) {
  .intro__title {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
